
/*.jumbotron h1 {
margin-right: auto;
margin-left: auto;
color: #5a5a5a;
} */

.jumbotron {
  height:2200px;
  background-image: url('sailing1.png');
}

.nav li {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}
