
.jumbotron h1 {
font-family: 'Lato', sans-serif;
margin-right: auto;
margin-left: auto;
color: #262626;
} 

.jumbotron {
  margin-bottom: 0px;
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  background-image: url('sailing1_500x500.png'); 
}

.nav li {
  display: inline;
  color: #5a5a5a;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
}

.bio p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  color: #70818F;
}

.bigphoto {
  height: 100%;
  max-width: 100%;
  min-height: 90%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  top: 150px;
}

.photo1 {
  background-image: url('Optimized-Alex Skipper.png');
}
